body {
	font-family: 'Lemon', sans-serif;
	color: #FFFFFF;
	background: #420600 url('img/background_sunset_edited.png'); 
	background-size: 100%;
	/*background-color:rgb(255,0,0,0.5);*/
}



.pg-logo {
	width: 300px; /* 18.75em;*/
	float: left;
	margin: 0 auto;
}

a {
	color: #FF4500;
	text-decoration: none;

}


h1 {
	font-size: 1.750em;
	letter-spacing: 0.09375em; /*-1.5px;*/
}

h2 {
	font-size: 1.500em;
	color: #FF8C00;
}

#author {
	text-align: right;
	margin-right: 80px ; /*5em;*/
	margin-top: 0px;
	font-size: 1em; /*16px*/
}

.btn {
	color: #FFFFFF;
	background: #FF4500;
	padding: 15px 30px ; /*0.9375em 1.875em;*/ 
	margin: 40px 0px ; /*2.5em 0em;*/
	border-radius: 25px; /*1.5625em;*/ 
	text-transform: uppercase; 
}


.btn:hover {
	background-color: #4169E1;
}


.separator {
	margin-top: 40px ; /*2.5em;*/
}


ul.nav {
	margin: 110px 20px 0 0 ; /*6.875em 1.25em 0 0;*/
	list-style: none;
	float: right; 
	padding: 0;

}



ul.nav li {
	float: left;
	margin-right: 20px ; /*1.25em;*/
	border-right: 7px solid #FF4500; /* 0.4375em ;*/
	text-align: left;
	padding-right: 10px ; /*0.625em*/

}


ul.nav li a {
	color: #FFFFFF;
	font-size: 0.8125em; /*13px*/

}

.first {
	border-left: 7px  solid #FF4500; /*0.4375em*/
	padding-left: 10px ; /*0.625em*/
}



#intro {
	margin: 10px 0 75px 0 ; /*0.625em 0 4.6875em 0*/
	text-align: left;
	font-size: 1.125em; /*18px;*/
}



.center-title {
	text-align: center;
}

#hobby img {
	border: 8px solid #FAF3BC; /*0.5em*/
}

#hobby p {
	padding-right: 10px ; /*0.625em*/
}


#fun-facts img {
	border: 8px  solid #FAF3BC;/* 0.5em */
	margin: 0 0 20px 0 ; /*0 0 1.25em 0*/
	display: block;
    margin-left: auto;
    margin-right: auto

}


#contact p {
	padding-left: 30px ; /*1.875em*/
}

#about-me p{
	padding-right: 30px ; /*1.875em*/
}

#copyright {
	border-top: 8px solid #2A0400; /*0.5em*/
	padding:10px 0 ; /*0.625em 0 ;*/
	margin: 15px 0 ; /*0.9375em 0*/
	text-align: center; 
}

.list {
	list-style: none;
}

.block-space {
	margin-bottom: 60px ; /*3.75em ;*/
}







