body {
	font-family: 'Lemon', sans-serif;
	color: #FFFFFF;
	background: #420600 url('img/background_sunset_edited.png'); 
	background-size: 100%;
	/*background-color:rgb(255,0,0,0.5);*/
}



#pg-logo {
	width: 30%; /*300px;*/ /* 18.75em;*/
	float: left;
	margin: 0 auto;
}

a {
	color: #FF4500;
	text-decoration: none;

}


h1 {
	font-size: 1.750em;
	font-weight: 100;
	letter-spacing: -1.5px; /*0.09375em;*/
}

h2 {
	font-size: 1.500em;
	font-weight: 100;
	color: #FF8C00;
}

img {
	max-width: 100%
}
/*pforces all the images to scale down and fir within its containing element. It 
also prevents images from exceeding beyond it's size. No need to define the height because the browser will scale automatically*/

.highlight {
	color: #FF4500;
}

#author {
	text-align: right;
	margin-right: 10.74% ; /*80px;*/
	/*margin-top: 0px;*/
	font-size: 1em; /*16px*/
	font-weight: 100;
}

.btn {
	color: #FFFFFF;
	background: #FF4500;
	padding: 15px 30px ; /*0.9375em 1.875em;*/ 
	margin: 40px 0px ; /*2.5em 0em;*/
	border-radius: 25px; /*1.5625em;*/ 
	text-transform: uppercase; 
}


.btn:hover {
	background-color: #4169E1;
}


/*.separator {
	margin-top: 40px ; /*2.5em;*/

span.big-letter {
	font-size: 1.53846154em; /*20px*/
	color: #FF8C00;
}

#nav ul  {
	/*margin: auto;*/
	width: 100%;
	margin: 20% 0 0 0;
	/*margin: 110px 20px 0 0 ;*/ /*6.875em 1.25em 0 0;*/
	list-style: none;
	float: right; 
	/*padding: 50px 0;*/

}



#nav ul li {
	float: left;
	/*margin-right: 20px*/ ; /*1.25em;*/
	/*border-right: 4px solid #FF4500;*/ /* 0.4375em ;*/
	/*text-align: left;*/
	/*padding-right: 10px*/ ; /*0.625em*/

}

	#nav ul li.intro {
		width: 30%;
	}
	#nav ul li.hobby {
		width: 17%;
	}
	#nav ul li.portfolio {
		width: 15%;
	}
	#nav ul li.contact {
		width: 22%;
	/*	margin: 0 5% 0 5%;
		padding: 8px 0;
		color: #faf3bc;
		font-family: 'Nunito', sans-serif;
		text-align: center;
		border: 0;
		font-weight: 100;
		font-size: .75em;
		background: #b22316 url('texture.png') no-repeat right top;;
		border-radius: 25px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		text-transform: uppercase;*/
	}



#nav ul li a {
	color: #FFFFFF;
	font-size: 0.8125em; /*13px*/
	font-weight: 100;
	display: block;
	text-decoration: none;

}

/*.first {
	border-left: 7px  solid #FF4500; 0.4375em
	padding-left: 10px ; /*0.625em*/


/*

#intro {
	margin: 10px 0 75px 0 ; /*0.625em 0 4.6875em 0*/
	/*text-align: left;
	font-size: 1.125em; /*18px;*/
	/*font-weight: 100;
} */



#intro {
	margin: 0 0 5% 0;
}



.center-title {
	text-align: center;
}

#hobby img {
	border: 8px solid #FAF3BC; /*0.5em*/
}

#hobby p {
	padding-right: 1.74% ; /*10px*/
}


#fun-facts img {
	border: 8px  solid #FAF3BC;/* 0.5em */
	margin: 0 0 4.94% 0; /*0 0 20px 0*/
	display: block;
    margin-left: auto;
    margin-right: auto

}


#contact p {
	padding-left: 7.41% ; /*30px*/
}

#about-me p{
	padding-right: 5.22% ; /*30px*/
}

#copyright {
	border-top: 8px solid #2A0400; /*0.5em*/
	padding:2% 0 ; /*10px 0*/
	margin: 2% 0 ; /*15px 0*/
	text-align: center; 
}

.list {
	list-style: none;
}

.block-space {
	margin-bottom: 14.81% ; /*60px*/
}



/*media queries*/
/*small resolution*/
@media screen and (max-width : 650px) {
	
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width: 100%
	}

	#nav ul {
		margin: 5% 0;
	}

	/*#nav ul li a {
		-webkit-user-select: none;
	}*/

	#nav ul li {
		float: left;
		margin: 5% 2%;
	}

	#nav ul li.intro {
		width: 20%;
		text-align: left;
	}

	#nav ul li.hobby {
		width: 20%;
		/*text-align: center;*/
	}

	#nav ul li.portfolio {
		width: 20%;
		/*text-align: right;*/
	}

	#nav ul li.contact {
		width: 20%;
		text-align: right;
		/*margin: 0;
		font-size:  1em;
		font-weight: 100;*/
	}

	#intro {
		margin-top: 5%;

	}

	#intro p {
		text-align: left;
	}

	#intro-img, #about-me {
		display: none
	}
	/*not to display on this screen resolution*/

	#hobby, #fun-facts {
		margin: 5% 0;
		text-align: center
	}
	/*#fun-facts {
		text-align: center;
	}*/

	#fun-facts img {
		max-width: 95%;
	}
}




/*so that in a mobile every div takes the width of the whole page and goes one after another*/
/*max width we are setting the screen up to 480px and below*/


/*media queries*/
/*Medium resolution*/
@media screen and (max-width: 1024px) {
	#intro {
		width: 100%; 
	}
	#intro-img {
		display: none;
	}
	#intro p {
		text-align: center;
		margin:  0 0 5% 0;
	}
	#pg-logo {
		width: 100%;
		text-align: center;
	}
	#pg-logo img {
		max-width: 55%;
	}
	#nav {
		width: 100%;
		text-align: center;
	}
	#nav ul {
		margin: 0;
	}

	#nav ul li {
		float: left;
		margin: 0 0 2% 0;
		}
	#nav ul li.intro {
		width: 35%;
		}
	#nav ul li.hobby {
		width: 25%;
		}
	#nav ul li.portfolio {
		width: 15%;
		}
	#nav ul li.contact {
		width: 25%;
		/*margin: 5% 0 2% 0;*/
		}


	#author {
	/*padding-right: 33.56%; *//*250px*/
	/*text-align: right;*/
	 /*80px;*/
	/*margin-top: 0px;*/
	font-size: 1em; /*16px*/
	font-weight: 100;
}


	#fun-facts, #hobby {
		text-align: center;
	}	

}












